
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://use.typekit.net/gwd1wpl.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
@import url("https://use.typekit.net/gwd1wpl.css");

body {
	padding:3em;
}
.logo {
	width: 5em;
	display:inline-block;
}
nav {
	display: inline-block;
	ul{
		list-style:none;
	}
	li {
		display: inline-block;
		margin-right: 1em;
	}
	a {
		color:$grey;
		font-size:1.6em;
	}
	
}
.vue-nav {
	a {
		color: $green;
		font-size:2em;
		margin-top:1em;
		padding:1em 2em;
		transition: all 0.5s ease;
		text-decoration: none;
		&:hover {
			font-size:2.1em;
		}
	}
}

.router-link-exact-active {
	// border-left: 0.2em solid $grey;
	
}
.phpContainer {
	margin-top: 4em;

}